---
import { Image } from "astro:assets";
import tipCard from "@/assets/images/tipCard.webp";
import SpotCard from "./SpotCard.astro";
import type { Spot } from "./Tips.astro";

interface Props {
    title: string;
    spots: Spot[];
    contentImg: ImageMetadata;
}
const { title, spots, contentImg } = Astro.props;
---

<article class="relative border">
    <Image src={tipCard} alt="Tip Card" />
    <div
        class="absolute h-4/5 w-6/8 top-1/7 right-2/13 flex gap-5 items-center"
    >
        <Image
            src={contentImg}
            alt={title}
            class="object-contain h-3/4 w-1/3"
            style="object-position: left center;"
        />
        <div class="flex flex-col gap-2">
            <h3 class="text-6xl flex-2">{title}</h3>
            {
                spots.map((spot) => (
                    <SpotCard
                        name={spot.name}
                        description={spot.description}
                        mapUrl={spot.mapUrl}
                        websiteUrl={spot.websiteUrl}
                    />
                ))
            }
        </div>
    </div>
</article>
